[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=Sireum Logika

# A comment which can/will be used as a tooltip
Comment=A program verifier and natural deduction proof checker

# The path to the folder in which the executable is run
Path=/opt/Sireum

# The executable of the application, possibly with arguments.
Exec=/opt/Sireum/idea

# The name of the icon that will be used to display this entry
Icon=/opt/Sireum/apps/idea/bin/idea.png

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
Categories=Education;Languages;